---
import { Image } from "astro:assets";
import Brand from "../components/Brand.astro";
import PikaLogo from "../assets/logos/pika-smile-square-white.png";
import GiddiLogo from "../assets/logos/giddi-logo-white.png";
import StrongFemaleLogo from "../assets/logos/strong-female-logo-white.png";
import PikaCollection from "../assets/images/pika-shop-collection.jpg";
import GiddiThor from "../assets/images/giddi-thor-01.jpg";
import StrongFemaleThumbnail from "../assets/images/strong-female-launch-intro-thumbnail.jpg";
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionHeading.astro";
import SectionHeading from "../components/SectionHeading.astro";
---

<SectionContainer id="brands">
  <SectionHeading
    heading="brands"
    subheading="Direct to consumer brands I founded & operate"
  />
  <Brand
    title="Pika Vibe"
    body="Pika Vibe is a kawaii inspired sexual wellness brand. Kawaii is the japanese culture of cute and Pika embodies this culture by providing the cutest and friendliest pleasure products in the adult toy industry."
    href="https://pikavibe.com"
    linkText="pikavibe.com"
    logoSrc={PikaLogo}
    imgSrc={PikaCollection}
  >
    <div class="w-[100px]">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 559.1 426.2"
        style="enable-background:new 0 0 559.1 426.2;"
        xml:space="preserve"
      >
        <style type="text/css">
          .st2 {
            fill: var(--accent-100);
          }
        </style>
        <g> </g>
        <g> </g>
        <g>
          <g>
            <path
              class="st2"
              d="M548.6,288.8l-35.1-18.6c-9.6-5.1-21.5-1.4-26.5,8.2c-5.1,9.6-1.4,21.5,8.2,26.5l1.7,0.9
			c-5.1,9.3-13.3,22.2-25.1,34.9c-28.6,30.7-64.7,46.3-107.3,46.3c-0.4,0-0.7,0-1.1,0c-43.1-0.3-79.1-15.4-107-45.1
			c-12.5-13.4-20.7-26.9-25.3-35.8l2.1-1.1c9.6-5.1,13.2-16.9,8.2-26.5c-5.1-9.6-16.9-13.2-26.5-8.2l-35.1,18.6
			c-9.6,5.1-13.2,16.9-8.2,26.5c3.5,6.7,10.3,10.4,17.4,10.4c2.5,0,5-0.5,7.4-1.5c5.8,11.3,15.5,27.2,30.1,43.1
			c24.5,26.6,68.1,58.4,136.6,58.9c0.4,0,0.9,0,1.3,0c53.8,0,101.2-20.7,137.2-60c14-15.3,23.7-30.6,29.9-42.1
			c2.5,1.1,5.2,1.7,7.9,1.7c7,0,13.8-3.8,17.4-10.4C561.9,305.7,558.2,293.8,548.6,288.8z"
            ></path>
            <g>
              <path
                class="st2"
                d="M559,154.7c0,18.6-0.1,37.2,0,55.8c0.1,11.6-5.2,20.2-14.9,25.7c-10.3,5.9-20.9,5.3-30.6-1.8
				c-2.8-2-5.1-1.9-8-0.8c-30.5,11.5-59.4,8.5-85.2-11.7c-18.3-14.4-29.7-33.3-32.7-57.1c-2.8-22.8,2.6-43.3,15.9-61.5
				c13.2-18.2,31.2-30,53.6-33.6c17.2-2.7,34.3-1.6,50.5,5.9c2.6,1.2,3.9-0.5,5.3-1.5c9.6-7.1,20-7.3,30.3-2.5
				c10.3,4.8,15.6,13.4,15.7,24.8C559.2,115.8,559,135.3,559,154.7z M444.9,154.3c-1.3,14.3,11.8,28.6,27.9,28.5
				c15.3-0.1,29-11.4,28.9-29c-0.1-15.4-11.6-27.3-26.3-27.5C456.5,126.1,444.9,136.8,444.9,154.3z"
              ></path>
              <path
                class="st2"
                d="M0.1,138.2c0-23.3,0.3-46.5-0.1-69.8c-0.2-15.3,14-32.3,31.4-32.3C52.2,36,73.1,34.5,94,36.4
				c29.7,2.8,54.8,26.5,59.5,55.5c3,18.3,0.2,35.9-11.1,51.4c-13.3,18.3-30.9,28.8-53.9,29.6c-5.3,0.2-10.7,0.2-16.1,0
				c-3-0.1-3.9,1-3.8,3.9c0.1,9,0.1,17.9,0,26.9c-0.1,20.5-10.9,31.9-29,36C20,244,0.5,226.8,0.2,209
				C-0.1,185.4,0.2,161.8,0.1,138.2C0.1,138.2,0.1,138.2,0.1,138.2z M68.7,104.2c0,2.2,0,4.5,0,6.7c0,7.7,0.2,8,8.1,7.1
				c5.9-0.6,11.9-7,12.4-13c0.4-5.7-4.3-12.1-10.1-13.6c-7.9-2.1-10.3-0.3-10.3,7.7C68.7,100.8,68.7,102.5,68.7,104.2z"
              ></path>
              <path
                class="st2"
                d="M302.7,113.7c4.1-5.3,8.3-10.6,12.4-15.9c5.8-7.5,11-15.5,17.6-22.5c6-6.4,19.9-9,31.1-4.5
				c8.9,3.6,15.1,13.9,16,23.2c1.2,12-5.3,20.3-11.9,28.8c-5.7,7.4-11.4,14.9-17.1,22.3c-2.1,2.7-2.4,4.7,0.1,7.9
				c10.3,13.3,20,27,30.3,40.3c9.1,11.7,7.3,30.7-3.2,39c-15,11.7-32.7,9.4-43.1-4.7c-10.5-14.4-21.5-28.5-33.2-44
				c0,7.4,0,13.6,0,19.8c0,5.5,0.2,10.9-1.6,16.2c-4.2,12.1-15,20.1-27.6,20.3c-10,0.2-22.5-6.9-27.1-19.9c-1-2.8-1.1-6.1-1.1-9.2
				c0-51,0.2-101.9,0.1-152.9c0-13.1,9.7-24.1,21.7-26.7c12.6-2.8,27.2,3.9,32.5,15.1c2.1,4.5,3.1,9.3,3.1,14.3
				c0,15.8,0,31.7,0,47.5c0,1.6,0,3.3,0,4.9C302,113.4,302.3,113.5,302.7,113.7z"
              ></path>
              <path
                class="st2"
                d="M227.2,154c0,18.3,0,36.5,0,54.8c0,16.8-7.8,25.9-22.7,30.6c-14.5,4.6-34.2-9-34.3-24.2
				c-0.3-40.1-0.3-80.3-0.1-120.4c0-13.3,8.8-22.1,23.2-25.6c13.7-3.3,29.3,6.6,32.2,18.5c0.9,3.6,1.8,7.2,1.8,11
				C227.1,117.1,227.2,135.6,227.2,154z"
              ></path>
              <path
                class="st2"
                d="M198.1,57c-15.4,1.1-28.8-12.5-28.7-28.8c0-14.6,11.7-28.3,29-28.2c14.8,0.1,28.7,12.7,28.7,27.9
				C227.3,45.7,211.1,58.6,198.1,57z"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </Brand>
  <Brand
    title="GIDDI"
    body="GIDDI is an award-winning sexual wellness brand and leader in prostate pleasure. With its industry leading prostate massagers and educational content, GIDDI provides access to prostate pleasure, health, and wellness for all people."
    href="https://mygiddi.com"
    linkText="mygiddi.com"
    logoSrc={GiddiLogo}
    imgSrc={GiddiThor}
  >
    <div class="w-[175px]">
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 511 87.1"
        style="enable-background:new 0 0 511 87.1;"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: var(--accent-100);
          }
        </style>
        <g>
          <path class="st0" d="M150.2,3.5h17v80.1h-17V3.5z"></path>
          <path class="st0" d="M488.5,3.5h17v80h-17V3.5z"></path>
          <path
            class="st0"
            d="M283.9,15.3c-7.4-7.7-17.6-11.9-28.2-11.7h-24.3v80h24.3c10.6,0.2,20.9-4.1,28.2-11.8
   c7.7-7.3,11.9-17.6,11.8-28.2C295.9,32.9,291.6,22.7,283.9,15.3z M271.9,59.8c-4.2,4.4-10.1,6.8-16.2,6.7h-7.3V20.7h7.2
   c6.1-0.1,12,2.3,16.2,6.7c4.4,4.3,6.8,10.2,6.7,16.3C278.7,49.7,276.3,55.6,271.9,59.8L271.9,59.8z"
          ></path>
          <path
            class="st0"
            d="M412.5,15.3c-7.4-7.6-17.7-11.9-28.3-11.7H360v80h24.2c10.6,0.2,20.9-4.1,28.2-11.7
   c7.7-7.4,11.9-17.6,11.8-28.2C424.4,32.9,420.1,22.7,412.5,15.3z M400.4,59.8c-4.2,4.4-10.1,6.8-16.2,6.7H377V20.7h7.2
   c6.1-0.1,11.9,2.3,16.2,6.7c4.4,4.3,6.8,10.2,6.7,16.3C407.2,49.7,404.8,55.6,400.4,59.8z"
          ></path>
          <path
            class="st0"
            d="M48.6,35.1l-3,17v0.1h21.2C63.6,61.1,55.1,67,45.6,67c-0.4,0-0.9,0-1.3-0.1c-5.6-0.2-10.9-2.7-14.8-6.8
   c-4.3-4.4-6.7-10.4-6.6-16.6c-0.1-6.2,2.3-12.1,6.6-16.5c4.2-4.4,10-6.9,16.1-6.8c1.9,0,3.7,0.2,5.5,0.6c5,1.2,9.4,4.1,12.4,8.3
   L76,16.7C70.6,9.9,62.8,5.2,54.2,3.6c-2.8-0.5-5.7-0.8-8.6-0.8C35,2.6,24.7,6.9,17.3,14.6c-7.7,7.6-12,18.1-11.8,28.9
   C5.3,54.3,9.6,64.7,17.3,72.3c6.7,7.1,15.9,11.4,25.6,11.9c0.9,0.1,1.8,0.1,2.7,0.1c10.8,0.2,21.1-4.2,28.5-12
   c5.6-5.5,9.4-12.5,10.9-20.2c0.6-2.8,0.9-5.7,0.9-8.6v-8.4H48.6z"
          ></path>
        </g>
      </svg>
    </div>
  </Brand>
  <Brand
    title="Strong Female"
    body="Strong Female is a mission driven brand that shares the stories of unsung heroines while supporting organizations that help women in underserved communities. With short form videos and a limited collection of products, Strong Female promotes the power of women to influence change."
    href="https://strongfemale.me"
    linkText="strongfemale.me"
    logoSrc={StrongFemaleLogo}
    imgSrc={StrongFemaleThumbnail}
  >
    <div class="w-[150px]">
      <svg
        id="Layer_1"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 600 208.62"
        ><defs
          ><style>
            .cls-1 {
              fill: var(--primary-200);
            }
          </style></defs
        ><path
          class="cls-1"
          d="M389,195.39V161.24c0-14.23-3.7-30.87-22.48-30.87-10.81,0-20.2,6-25.61,13.8-1.57-4.13-7.11-13.8-21.91-13.8a31.08,31.08,0,0,0-25.76,13.51l-.28-12.23h-.71l-26,8.39v.71c4.41,3.56,6.69,7,6.69,13.52v41.12c0,5.12-1.43,10-5,11.38v.86h31v-.86c-3.56-1.42-5-6.68-5-11.38V144.74a18.27,18.27,0,0,1,13.94-6.41c7,0,12.52,5.41,12.52,18.64v38.42c0,5.12-1.42,10-5,11.38v.86h31v-.86c-3.56-1.42-5-6.68-5-11.38V145.45c3.56-4,8.11-7.12,14.09-7.12,6.82,0,12.37,5.41,12.37,18.64v38.42c0,5.12-1.42,10-5,11.38v.86h31v-.86C390.4,205.35,389,200.09,389,195.39Z"
        ></path><path
          class="cls-1"
          d="M480.83,196.39h-.15c-2,3.7-4.55,4.69-6.83,4.69-3.27,0-6-2.13-6-10.1V162.1c0-18.36-9-31.73-29.74-31.73-18.07,0-29.6,14.08-29.6,28.31h.86c0-10,9-20.06,21.06-20.06,13.66,0,16.79,9.67,16.79,19.21v5.4l-19.92,7.26C410,176.75,403.71,184,403.71,193.11c0,9.39,7.25,15.51,18.07,15.51,10.53,0,19.06-5.12,25.75-13.23l.14.29c2.71,9.24,9.82,12.94,16.65,12.94,8.11,0,12.95-3.7,16.93-11.66Zm-33.58-2c-3.56,3.7-8.54,7-14.8,7-7.4,0-10.67-6.12-10.67-12.38,0-7,3.41-14.52,16.36-20.49l9.11-4.13Z"
        ></path><path
          class="cls-1"
          d="M516.37,195.39v-80h-.71c-7.54,2.42-21.06,6.54-27,8.39v.86c4.41,3.55,6.83,7,6.83,13.37v57.39c0,4.7-1.42,10-5,11.38v.86h31v-.86C517.93,205.35,516.37,200.09,516.37,195.39Z"
        ></path><path
          class="cls-1"
          d="M258.07,164.09v-1.85c-.14-17.65-10.1-31.87-33.58-31.87-20,0-34.05,13.73-37,32H145.09V117.23h9.68c18.36,0,27,10.1,30.88,19.35h.71l-3.56-21.2h-65v1c3.55,1.43,5.83,6.55,5.83,11.25V178h0v17.41c0,4.7-2.28,9.82-5.84,11.24v1h33.3v-1c-3.56-1.42-6-6.54-6-11.24V179.76h0V164.09h42.18a44.23,44.23,0,0,0-.34,5.55c0,23.9,15.79,39,38.56,39,17.92,0,25.32-9,31-19.63l-.42-.71c-6.69,8.11-14.23,9.81-21.49,9.81-16.36,0-25.32-15.36-25.32-34h48.8Zm-48.8-1.71c.28-18.92,5.26-30.16,15.79-30.16,9.82,0,14.09,9.67,14.09,30.16Z"
        ></path><path
          class="cls-1"
          d="M600,164.09v-1.85c-.15-17.64-10.11-31.87-33.59-31.87-20,0-34,13.73-37,32-.1.56-.17,1.13-.23,1.71a44,44,0,0,0-.35,5.55c0,23.9,15.79,39,38.56,39,17.92,0,25.32-9,31-19.63l-.44-.71c-6.69,8.11-14.22,9.82-21.48,9.82-16.36,0-25.32-15.37-25.32-34H600Zm-48.8-1.71c.27-18.93,5.26-30.16,15.79-30.16,9.82,0,14.08,9.67,14.08,30.16Z"
        ></path><path
          class="cls-1"
          d="M0,86,3.31,71.35h.57c6.47,9.15,18.55,21,32.07,21,12.8,0,20.56-5,20.56-15.13,0-23.66-52.77-20.48-52.77-50.88C3.74,9.66,19.7,0,40,0c14,0,24.15,3.43,32.35,8.27L68.88,23.53h-.72C63.27,13.73,52.34,1.91,39.4,1.91c-11.79,0-19,6-19,14.62,0,22.39,53.92,19.08,53.92,50.75,0,16.53-14.66,27-38.25,27C22.15,94.24,7.91,91.19,0,86Z"
        ></path><path
          class="cls-1"
          d="M198,19.68l-5.4,14.23h-.29c-5.55-5.83-10.24-7.68-15.79-7.68-5.83,0-9,4-10.39,6V81c0,4.69,1.43,10,5,11.38v.85h-31v-.85c3.55-1.42,5-6.26,5-11.38V39.6c0-6-2.28-9.67-6.69-13.23v-.71l26.18-8.39h.85V30.92C170.52,22.39,178.77,16,187,16,192.28,16.13,195.56,17.69,198,19.68Z"
        ></path><path
          class="cls-1"
          d="M198,55.25C198,34.06,214.25,16,236.59,16c23.19,0,38.56,16.93,38.56,39,0,21.48-16.08,39.27-38.56,39.27C213.26,94.24,198,77.59,198,55.25Zm54.78-.14c-.14-25.75-6.12-37.27-16.22-37.27s-16.07,11.52-16.22,37.27c0,26,6.12,37.28,16.22,37.28S252.81,81.15,252.81,55.11Z"
        ></path><path
          class="cls-1"
          d="M358.37,81c0,4.69,1.43,10,5,11.38v.85h-31v-.85c3.55-1.42,5-6.26,5-11.38V42.59c0-13.23-5.55-18.64-12.52-18.64a18.26,18.26,0,0,0-13.95,6.41V81c0,4.69,1.43,10,5,11.38v.85h-31v-.85c3.55-1.42,5-6.26,5-11.38V39.89c0-6.55-2.28-10-6.69-13.52v-.71l26.18-8.39h.85V29.5A31,31,0,0,1,335.89,16c18.79,0,22.48,16.64,22.48,30.87Z"
        ></path><path
          class="cls-1"
          d="M408.2,79.3c23.05,1.14,35,8.25,35,21.34,0,14.37-16.22,22.77-37.85,22.77-15.65,0-34.72-4.84-34.72-16.37,0-7.11,8.54-10.67,14.8-12.23-6.12-1.57-10.24-6-10.24-11.38,0-9.39,7.4-14.37,14.94-17.5A24.53,24.53,0,0,1,375.9,43.16c0-14.8,12.09-26.46,31-26.46A37.32,37.32,0,0,1,424,20.54c6.26-2.42,15.51-7.12,20.91-11.1L447,25.8l-20.21-3.55c6.69,4.55,10.53,12,10.53,20.91,0,14.8-12.09,26.18-30.44,26.18A40.11,40.11,0,0,1,392,66.64c-4.7,1.85-7.4,3.7-7.4,6.54,0,3.27,3,5,8.82,5.27Zm21.62,28.88c0-6.69-5-10.38-15.51-11.24-9.95-.71-17.5-1.28-25.18-1.56-.57,0-1.28-.15-1.85-.15-3.13,2.14-4.69,6.55-4.69,10.68,0,9.39,9.67,15.79,22.76,15.79C422.42,121.7,429.82,116.15,429.82,108.18Zm-34.43-65c0,18.64,3.7,24.47,11.53,24.47,6.83,0,10.81-6.11,10.81-24.47s-4-24.76-10.81-24.76C399.38,18.4,395.53,24.66,395.39,43.16Z"
        ></path><path
          class="cls-1"
          d="M130.42,78.87c-2.7,3-5.55,5.84-10.24,5.84-5.84,0-10.25-3-10.25-13.38V23.52h18.5V21.81h-18.5V5h-.57A273,273,0,0,1,79.2,22.81v.71H89V70.34c0,15.08,7,23.9,20.06,23.9,10.38,0,16.93-4.41,21.91-14.65Z"
        ></path></svg
      >
    </div>
  </Brand>
</SectionContainer>
