---
import { Image } from "astro:assets";
import SectionContainer from "../components/SectionContainer.astro";
import SectionHeading from "../components/SectionHeading.astro";
import SkillsCard from "../components/SkillsCard.astro";
import Shopify from "../assets/logos/shopify.png";
import Klaviyo from "../assets/logos/klaviyo.png";
import Gorgias from "../assets/logos/gorgias.png";
import AdWords from "../assets/logos/google-ads.png";
import Analytics from "../assets/logos/google-analytics.png";
import Shipbob from "../assets/logos/shipbob.png";
---

<SectionContainer id="skills">
  <SectionHeading
    heading="skills"
    subheading="An eclectic mix of talents honed over years of building businesses"
  />
  <div class="flex flex-wrap gap-8 justify-around md:justify-between">
    <SkillsCard
      src={Shopify}
      title="Shopify"
      description="E-Commerce CMS"
      points={[
        "Setup & Management",
        "Theme Development",
        "App Integration",
        "Automation",
      ]}
    />
    <SkillsCard
      src={Klaviyo}
      title="Klaviyo"
      description="SMS & Email Marketing"
      points={[
        "Email Design",
        "Lead Nururing",
        "Audience Segmentation",
        "Marketing Automations",
      ]}
    />
    <SkillsCard
      src={Gorgias}
      title="Gorgias"
      description="Customer Support Software"
      points={[
        "Configuration & Integration",
        "Help Center Development",
        "Automation & Macros",
        "Reporting & Optimization",
      ]}
    />
    <SkillsCard
      src={AdWords}
      title="Google Ads"
      description="Paid Search Advertising"
      points={[
        "Keyword Research",
        "Campaign Strategy",
        "Conversion Tracking",
        "Performance Optimization",
      ]}
    />
    <SkillsCard
      src={Analytics}
      title="Google Analytics"
      description="Paid Search Advertising"
      points={[
        "Configuration & Integration",
        "Event & Conversion Tracking",
        "Audience Segmentation",
        "Performance Optimization",
      ]}
    />
    <SkillsCard
      src={Shipbob}
      title="ShipBob"
      description="3rd Party Logistics"
      points={[
        "Order Fulfillment",
        "Inventory Tracking",
        "Shipping Configuration",
        "Warehouse Recieving",
      ]}
    />
  </div>
</SectionContainer>
